<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<!-- 게시판 글 작성 -->
	<insert id="insert">
		INSERT INTO BOARD ( BOARD_NUM, MEMBER_NUM, PLACE, CONTENT, REGDATE, TRIPDATE, LIKE_CNT)
		VALUES(BOARD_SEQ.NEXTVAL, #{memberNum}, #{place}, #{content}, sysdate, #{tripdate}, 0 )
	</insert>

</mapper>